@import 'normalize.css';
@import 'variables.less';

.hidden {
  display: none;
}

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

video {
  max-width: 100%;
}

span.error {
  color: @red;
}
