@import 'normalize.css';
.hidden {
  display: none;
}
.new-file .main-box {
  width: 762px;
  height: 400px;
  margin: 100px auto 0;
  border: 1px solid #2c3e50;
  padding-bottom: 21px;
  position: relative;
  border-radius: 5px;
}
.new-file .progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 0;
  border-top: 1px solid #2c3e50;
}
.progress {
  height: 20px;
  border: 1px solid #2980b9;
}
.progress .progress-bar {
  height: 100%;
  width: 0%;
  background-color: #3498db;
}
