<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}webrtc_video{% end %}</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ static_url('style/aio.css') }}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <section class="main">
      {% block main %}{% end %}
    </section>

    <footer>
    </footer>
    <script data-main="/static/js/app.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>
    <script>
      require.config({
        {% if options.debug %}urlArgs: "bust=" + (new Date()).getTime(),{% end %}
        baseUrl: '/static/js',
        paths: {
          jquery: 'http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min',
          underscore: 'http://lib.sinaapp.com/js/underscore/1.4.4/underscore-min'
        }
      });
      window.console = window.console || {log: function(){}, debug: function(){}};
    </script>
    {% block script %}{% end %}
  </body>
</html>
<!-- vim: set et sw=2 ts=2 sts=2 ff=unix fenc=utf8: -->

